<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="https://use.fontawesome.com/7951220893.js"></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Journal</a></li>
            </ul>
        </nav>
        <hr>
        <div class="container">

        {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:vivegau@gmail.com">Email</a></li>
                <li><a href="https://github.com/vivekgautham">Github</a></li>
                <li><a href="https://www.linkedin.com/in/vsoundararaj/">LinkedIn</a></li>
                <li><a href="https://500px.com/vivekgautham">500px</a></li>
            </ul>
        </footer>
    </body>
</html>